* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #454343;
}

header {
    height: 64px;
    margin-left: 24px;
    margin-right: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header  img {
    height: 40px;
}

header nav a {
    margin-left: 16px;
    text-decoration: none;
    font-weight: 300;
}

header div {
    display: flex;
    align-items: center;
}

header div a {
    font-size: 1em;
    text-transform: uppercase;
    margin: 0 auto;
}

header span {
    color: grey;
    font-weight: 300;
}


.second-section {
    background-color: #d1d1d1;
    display: flex;
    align-items: center;
    
}

.second-section  img {
    width: 60%;
    margin: 32px 24px;
}

.second-section  div {
    width: 25%;
    display: flex;
    flex-wrap: wrap;
}

.second-section div h1 {
    font-size: 40px;
    margin-bottom: 24px;
}

.second-section div p {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 24px;
}

.second-section  div button {
    font-size: medium;
    width: 100%;
    padding: 8px 0 8px;
    background-color: #454343;
    color: white;
    border: 0;
}

