* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #454343;
}

header {
    height: 64px;
    margin-left: 24px;
    margin-right: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header  img {
    height: 40px;
}

header nav a {
    margin-left: 16px;
    text-decoration: none;
    font-weight: 300;
}

header div {
    display: flex;
    align-items: center;
}

header div a {
    font-size: 1em;
    text-transform: uppercase;
    margin: 0 auto;
}

header span {
    color: grey;
    font-weight: 300;
}


.second-section {
    background-color: #d1d1d1;
    display: flex;
    align-items: center;
}


.second-section img {
    width: 58%;
    margin: 32px 48px 32px 24px;
}

.second-section  div {
    flex-basis: 25%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 34px;
}

.second-section div h1 {
    font-size: 40px;
    margin-bottom: 24px;
}

.second-section div p {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 24px;
}

.second-section  div button {
    font-size: medium;
    width: 100%;
    padding: 8px 0 8px;
    background-color: #454343;
    color: white;
    border: 0;
}

.third-section {
    display: flex;
}

.third-section-child1 {
    flex-basis: 60%;
    margin: 32px 24px;
}

.third-section-child1 img {
    width: 100%;
    margin-bottom: 32px;
}

.third-section-child1 h2 {
    font-size: 45px;
    margin-bottom: 24px;
}

.third-section-child1 p {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 24px;
}

.third-section-child1 span {
    font-weight: 300;
    margin-bottom: 24px;
}

.third-section-child2 {
    flex-basis: 40%;
    border-left: 1px solid #d1d1d1;
}

.third-section-child2 div {
    display: flex;
}

.third-section-child2-1 div,
.third-section-child2-2 div,
.third-section-child2-3 div {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.third-section-child2 div p {
    margin: 8px 0 8px 0;
    font-weight: 300;
    word-spacing: 5px;
}

.third-section-child2 div a {
    text-decoration: none;
    color: #1ec9fc;
    font-weight: 300;
}

.third-section-child2 div img {
    height: auto;
    width: 35%;
    margin: 16px;
}

.third-section-child2-3 {
    background-color: #d1d1d1;
}

.third-section-child2-1 {
    margin-top: 15px;
    border-bottom: 1px solid #d1d1d1;
}

.third-section-child2-2 {
    border-top: 1px solid #d1d1d1;
}

.fourth-section {
    background-color: #edebeb;
    padding-bottom: 32px;
}

.fourth-section h2 {
    text-align: center;
    margin-bottom: 32px;
    padding-top: 32px;
    font-size: 40px;
}

.main-card img {
    height: auto;
    margin-bottom: 16px;
}

.main-card div {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    width: 30%;
}

.main-card div p{
    margin: 8px 0 8px 16px;
    font-weight: 300;
    text-transform: up;
}

.main-card div span{
    margin: 0 20% 24px 16px;
    font-weight: 300;
}

.main-card div h3{
    margin-left: 16px;
    font-weight: 400;
}

.main-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 72px 0 72px;
}

.fifth-section h2 {
    text-align: center;
    padding-top: 32px;
}

.fifth-section-card {
    display: flex;
}

.video-section {
    flex-basis: 60%;
    margin: 32px 24px 32px 24px ;
}

.video-section video {
    width: 100%;
    margin-bottom: 24px;
}

.video-section h3 {
    margin-bottom: 8px;
    font-weight: 400;
}

.video-section p {
    font-weight: 300;
    width: 100%;
}

.resouces-section {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    margin-top: 29px;
}

.resouces-section-child1 {
    background-color: #d1d1d1;
    display: flex;
}

.resouces-section-child1 img {
    width: 35%;
    margin: 16px;
    height: auto;
}

.resouces-section-child1 div {
    flex-basis: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.resouces-section-child1 div h3 {
    margin: 0 16px 10px 0;
    font-weight: 400;
}

.resouces-section-child1 div p {
    font-weight: 300;
}

.resouces-section-child2 {
    display: flex;
}

.resouces-section-child2 img {
    width: 35%;
    margin: 16px;
    height: auto;
}

.resouces-section-child2 div {
    flex-basis: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.resouces-section-child2 div h3 {
    margin: 0 16px 10px 0;
    font-weight: 400;
}

.resouces-section-child2 div p {
    font-weight: 300;
}